@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

:root{
    --cor-de-fundo: #1E3E62;
    --cor-primaria: #FEECB3;
    --cor-secundaria: #ED3EF7;
    --fonte: "Sofadi One", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--cor-primaria);
    text-align: center;
}

h1{
    font-size: 2rem;
    color: var(--cor-de-fundo);
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: var(--cor-de-fundo);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(1.3);
    transition: transform 1s;
}
span{
    color: var(--cor-secundaria);
    font-weight:bold;
}
footer{
    text-align: center;
    background-color: var(--cor-primaria);
    color: var(--cor-de-fundo);
}
.graficos-container{
    margin: 5rem;
}
.graficos-texto{
    font-size: 1.3rem;
    border: var(--cor-secundaria) solid 2px;
    padding: 2rem;
}